body {
    padding: 10px;
    margin: 10px;
}

#card1 {
    display: flex;
}
#card2 {
    display: none;
}

@media screen and (max-width: 480px) {
 img {
     width: 400px;
     height: 500px;
     align-content: center;
     justify-content: center;
 }
}
@media screen and (min-width: 480px) and (max-width: 800px) {
 
 img {
     width: 500px;
     height: 700px;
     align-content: center;
     justify-content: center;
 }
}

@media screen and (min-width: 800px) {
 
 img {
     width: 1200px;
     height: 1400px;
     align-content: center;
     justify-content: center;
 }
}