@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    font-family: "Comfortaa";
    margin: 0;
    padding: 10px;
}
main {
    display: flex;
}

h1 {
    color: grey;
}
#box1,
#box2 {
    width: 450px;
    height: 200px;
    border: 1px solid grey;
    padding: 20px;
}

#b1, 
#b2,
#b3,
#b4 {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: grey;

}
#spacer {
    width: 100px;
}
#b5,
#b6,
#b7,
#b8 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid grey;

}
#btn1 {
    display: none;
}
/* Keyframes */
@keyframes bounce {
    from{transform: translateX(0)}
    to{transform: translateX(500px)}
}

@media screen and (max-width: 600px) {
    #btn {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) {
 h1 {
     font-size: 3em;    
 }
#btnMobile {
    display: none;
}
}