@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    font-family: "Comfortaa";
    padding: 10px;
    margin: 10px;
    width: 300px;
}
#hme > img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
/*icons on home screen*/
#icons {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    height: 275px;
}
#i1:hover,
#i2:hover,
#i3:hover,
#i4:hover {
    cursor: pointer;
    background-color: lightblue;
}
#i1,#i2,#i3,#i4 {
    height: 120px;
    width: 120px;
    border-left: 6px solid blue;
    border-radius: 15%;
    animation: slide 1.5s linear;
}
img {
    display: block;
    margin: auto;
    margin-top: 15px;
    width:80px;
    height: 80px;
    transition: transform .2s; 
}

img:hover {
    transform: scale(1.1);
}


/* weather */
#header {
    margin-top: 10px;
    display: flex;
    border-left: 6px solid blue;
    background-color: lightblue;
    color: blue;
    margin-bottom: 5px;
    width: 335px;
    
}
#weatherHeader {
    border-left: 6px solid blue;
    background-color: lightblue;
    color: blue;
    width: 335px;
    font-size: 2em;
    animation: left 2s ease-in-out;
}
#weatherDiv {
    display: flex;
    flex-direction: column;
    width: 335px;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid grey;
    margin-top: 5px;
}
#weather1,
#weather2,
#weather3 {
    color: blue;
    text-align: center;
}
#weather2 {
    border-top: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
}

#weather1 > img,
#weather2 > img,
#weather3 > img {
    margin-top: -10px;
}

/* calc */
#header {
    color: blue;
    font-size: 2em;
    animation: slideIn 2s ease-in-out;
}
nav > ul > li {
    display: inline-block;
    text-decoration: none;
}
.btnMode {
    border: 1px solid grey;
    text-align: center;
    padding: 2px;
}
#display {
    margin-top:20px;
    width: 360px;
    border: 1px solid grey;
    font-size: 2em;
}
#box1 {
        display: flex;
        flex-flow: wrap;
        width: 220px;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5%;
        margin-top: 5px;
    }
    #e1,#e2,#e3,#e4,#e5,#e6,
    #e7,#e8,#e9,#e0,#ex,#edec,
    #ep,#em,#eml,#ed,#ec,#eq {
        width: 70px;
        height: 70px;
        font-size: 3em;
        text-align: center;
        border: 1px solid grey;
        border-radius: 10%;
        transition: transform .2s;
    }
    #e1:hover,#e2:hover,#e3:hover,#e4:hover,#e5:hover,#e6:hover,
    #e7:hover,#e8:hover,#e9:hover,#e0:hover,#ex:hover,#edec:hover,
    #ep:hover,#em:hover,#eml:hover,#ed:hover,#ec:hover,#eq:hover {
        background-color: darkblue;
        color: white;
        cursor: pointer;
        transform: scale(1.1);
    }

/* Currency */
#input {
    font-size: 1.5em;
}
#output {
    padding-top: 20px;
    color: blue;
    width: 300px;
    font-size: 2em;
    }    
main {
    display: flex;
}
#currHdr {
    color: blue;
    font-size: 1.5em;
    width: 335px;
    animation: slideIn 2s ease-in-out;
    border-left: 6px solid blue;
    background-color: lightblue;
}


/* Time */
#tFlex {
    display: flex;
    font-family: 'Roboto';
    font-size: 2em;
    border-left: 6px solid blue;
    background-color: lightblue;
    color: blue;
    animation: slideIn 2s ease-in-out;
}

#timeDiv {
    display:flex;
    align-content: stretch;
    justify-content: center;
    font-family: 'Orbitron';
    text-shadow: 5px 2px lightblue;
    font-size: 4em;
    color: darkblue;
    padding: 10px;
    width: 50%;
}
#timeDivM {
    display:none;
}
#secs {
    margin-left: 210px;
    margin-top: -50px;
    font-family: 'Orbitron';
    text-shadow: 5px 2px lightblue;
    font-size: 1em;
    color: darkblue;
}
#btnTimes {
    position: absolute;
    margin-top:80px;
    display: flex;
    flex-direction: column;
}
#bStd {
    width: 75%;
}
#bMil {
    width: 75%;
}

/* keyframes */
@keyframes shimmy1{
    50% {transform: scale(0.95);}
    75% {transform: scale(1.0);}
    100% {transform: scale(0.95);}
}
@keyframes shimmy2{
    50% {transform: scale(1.0);}
    75% {transform: scale(0.95);}
    100% {transform: scale(1.0);}
}
@keyframes shimmy3{
    50% {transform: scale(0.95);}
    75% {transform: scale(1.0);}
    100% {transform: scale(0.95);}
}
@keyframes shimmy4{
    50% {transform: scale(1.0);}
    75% {transform: scale(0.95);}
    100% {transform: scale(1.0);}
}
@keyframes slide {
  0% {margin-top:1000px;}
  15% {margin-top:900px;}
  30% {margin-top:800px;}
  45% {margin-top:700px;}
  60% {margin-top:500px;}
  75% {margin-top:250px;}
  90% {margin-top:100px;}
  100% {margin-top:0px; }
}
@keyframes slideIn {
    0% {margin-left: 1800px; font-style: italic;}
    33% {width: 225%; font-style: italic;}
    66% {width: 150%; font-style: italic;}
    80% {width: 90%; font-style: italic;}
    100% {margin-left: 5px;}
}
@keyframes down {
    0% {margin-top: -1800px; font-style: italic;}
    100% {margin-top: 5px; font-style: italic;} 
}
@keyframes up {
    0% {margin-top: 1000px; font-style: italic;}
    100% {margin-top: 5px; font-style: italic;} 
}
@keyframes left {
    0% {margin-left: -1800px; font-style: italic;}
    100% {margin-left: 5px; font-style: italic;} 
}
@keyframes right {
    0% {margin-left: 1800px; font-style: italic;}
    100% {margin-left: 5px; font-style: italic;} 
}
@keyframes spin {
    0% {transform: rotateX(180deg);}
    100%{transform: rotateX(180deg);}
}





















