@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    font-family: 'Comfortaa', cursive;
    padding: 5px;
    margin: 0;
    }
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    overflow-y: auto;
    word-wrap: break-word;
    }
a {
    text-decoration: none;
    }
tr:nth-child(odd) {
    background-color: lightgrey;
}
table {
    padding: 10px;
}
th {
    font-size: 2em;
    border-bottom: 1px solid red;
}
@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    table {
    width: 100%;
    }
    th {
    border-bottom: 3px solid red;
    }
    header {
        border: 1px solid red;
        color: red;
    } 
    h1 {
        padding: 5px;
        }

    main {
        color: red;
        border: 1px solid red;
        }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    table {
    width: 75%;
    }
    th {
    border-bottom: 3px solid orange;
    }
    header {
        border: 1px solid orange;
        color: orange;
    } 
    h1 {
        padding: 5px;
        }

    main {
        color: orange;
        border: 1px solid orange;
        }
}

@media screen and (min-width: 1024px) {
    
    table {
    width: 75%;
    }
    th {
    border-bottom: 3px solid blue;
    }
    header {
        border: 1px solid blue;
        color: blue;
    } 
    h1 {
        font-size: 5em;
        padding: 10px;
        }
    
    main {
        border: 1px solid blue;
        color: blue;
        }
}
