@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    font-family: Josefin Sans, sans-serif;
    padding: 10px;
    margin: 0;
    }
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    padding: 20px;
    overflow-y: auto;
    margin-top: 10px;
    word-wrap: break-word;
    }
a {
    text-decoration: none;
    }
@media screen and (max-width: 600px) {
    nav > ul{
        display: flex;
        font-size: 2em;
        justify-content: space-between;
        list-style: none;
        width: 30%;
    }
    nav {
        padding: -10px;
    }
    #large_div {
            display: none;
    }
     h1 {
            padding: 5px;
            border: 1px dotted blue;
        }
    h2 {
            color: red;
        }
    main {
            color: red;
            border: 1px solid red;
        }
    #userBox {
            border-top: 1px solid red;
            padding-bottom: 30px;
        }
    #userBox2 {
            padding-top: 5px;
            border-top: 1px solid red;
        }
    legend {
            padding: 5px 5px 5px 5px;
        }
    div {
            padding: 5px 5px 5px 5px;
            height: auto;
        }
    header {
            color: red;}
    footer {
            margin-top: 100px;
            text-align: center;
            color: red;
            border-top: 1px solid darkslateblue;
            border-bottom: 1px solid darkslateblue;
        }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) {
    nav > ul{
    font-size: 3em;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 90%;
    }
    nav {
        padding: 20px;
    }
    #mobile_div {
            display: none;
    }
    h1 {
            font-size: 5em;
            padding: 10px;
            border: 3px dotted blue;
        }
    h2 {
            font-size: 1em;
            color: blue;
        }
    main {
            width: 75%;
            border: 1px solid blue;
        }
    #userBox {
            border-top: 1px solid blue;
            padding-bottom: 60px;
        }
    #userBox2 {
            padding-top: 10px;
            border-top: 1px solid blue;
        }
    legend {
            padding: 10px 10px 10px 10px;
        }
    div {
            padding: 10px 10px 10px 10px;
            height: auto;
        }
    header {
            color: blue;}
    footer {
            margin-top: 200px;
            text-align: center;
            color: red;
            border-top: 1px solid darkslateblue;
            border-bottom: 1px solid darkslateblue;
        }
}