@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	padding: 5px;
	margin: 5px;
	background-color: #3cc0c9;
}
#one {
	height: 350px;
	width: 20px;
	background-color: white;
	position: absolute;
	margin-left: 30px;
	margin-top: 200px;
	animation: spinOne 2s ease-in-out;
}
#two {
	height: 400px;
	width: 20px;
	background-color: white;
	position: absolute;
	margin-left: 140px;
	margin-top: 30px;
	animation: spinTwo 2s ease-in-out;
}
#three {
	height: 20px;
	width: 400px;
	background-color: white;
	position: absolute;
	margin-left: -5px;
	margin-top: 200px;
	transform: rotate(-40deg);
	animation: spinThree 2s ease-in-out;
}
#four {
	height: 20px;
	width: 400px;
	background-color: white;
	position: absolute;
	margin-left: 5px;
	margin-top: 365px;
	animation: spinFour 2s ease-in-out;
}

#ones {
	height: 350px;
	width: 20px;
	background-color: black;
	position: absolute;
	margin-left: 35px;
	margin-top: 205px;
	animation: spinOnes 2s ease-in-out;
}
#twos {
	height: 400px;
	width: 20px;
	background-color: black;
	position: absolute;
	margin-left: 145px;
	margin-top: 35px;
	animation: spinTwos 2s ease-in-out;
}
#threes {
	height: 20px;
	width: 400px;
	background-color: black;
	position: absolute;
	margin-left: 0px;
	margin-top: 205px;
	transform: rotate(-40deg);
	animation: spinThrees 2s ease-in-out;
}
#fours {
	height: 20px;
	width: 400px;
	background-color: black;
	position: absolute;
	margin-left: 10px;
	margin-top: 370px;
	animation: spinFours 2s ease-in-out;
}
@keyframes spinOne {
	0% {margin-left: 1800px;}
	100% {margin-left: 0px;transform: rotate(1080deg);}
}
@keyframes spinTwo {
	0% {margin-top: -1800px;}
	100% {margin-top: 0px;transform: rotate(-720deg);}
}
@keyframes spinThree {
	0% {margin-top: 1800px;}
	100% {margin-top: 0px;transform: rotate(2160deg);}
}
@keyframes spinFour {
	0% {margin-left: -1800px;}
	100% {margin-left: 0px;transform: rotate(-1080deg);}
}


@keyframes spinOnes {
	0% {margin-top: 1800px;}
	100% {margin-top: 0px;transform: rotate(1080deg);}
}
@keyframes spinTwos {
	0% {margin-left: -1800px;}
	100% {margin-left: 0px;transform: rotate(-720deg);}
}
@keyframes spinThrees {
	0% {margin-left: 1800px;}
	100% {margin-left: 0px;transform: rotate(2160deg);}
}
@keyframes spinFours {
	0% {margin-top: -1800px;}
	100% {margin-top: 0px;transform: rotate(-1080deg);}
}
