@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
	padding: 5px;
	margin: 5px;
	background-color: #3cc0c9;
	overflow: hidden;
}
#one {
	height: 200px;
	width: 20px;
	background-color: white;
	position: absolute;
	margin-left: 100px;
	margin-top: 60px;
	transform: rotate(-10deg);
	animation: spinOne 2s ease-in-out;
}
#two {
	height: 130px;
	width: 20px;
	background-color: white;
	position: absolute;
	margin-top: 150px;
	margin-left: 20px;
	animation: spinTwo 2s ease-in-out;
}
#three {
	height: 20px;
	width: 200px;
	background-color: white;
	position: absolute;
	margin-left: -5px;
	margin-top: 230px;
	animation: spinThree 2s ease-in-out;
}
#four {
	height: 20px;
	width: 200px;
	background-color: white;
	position: absolute;
	margin-left: 5px;
	margin-top: 185px;
	animation: spinFour 2s ease-in-out;
}

#ones {
	height: 200px;
	width: 20px;
	background-color: black;
	position: absolute;
	margin-left: 104px;
	margin-top: 65px;
	transform: rotate(-10deg);
	animation: spinOnes 2s ease-in-out;
}
#twos {
	height: 130px;
	width: 20px;
	background-color: black;
	position: absolute;
	margin-top: 155px;
	margin-left: 25px;
	animation: spinTwos 2s ease-in-out;
}
#threes {
	height: 20px;
	width: 200px;
	background-color: black;
	position: absolute;
	margin-left: 0px;
	margin-top: 235px;
	animation: spinThrees 2s ease-in-out;
}
#fours {
	height: 20px;
	width: 200px;
	background-color: black;
	position: absolute;
	margin-left: 10px;
	margin-top: 190px;
	animation: spinFours 2s ease-in-out;
}


@keyframes spinOne {
	0% {margin-left: 1800px;}
	100% {margin-left: 0px;transform: rotate(1080deg);}
}
@keyframes spinTwo {
	0% {margin-top: -1800px;}
	100% {margin-top: 0px;transform: rotate(-720deg);}
}
@keyframes spinThree {
	0% {margin-top: 1800px;}
	100% {margin-top: 0px;transform: rotate(2160deg);}
}
@keyframes spinFour {
	0% {margin-left: -1800px;}
	100% {margin-left: 0px;transform: rotate(-1080deg);}
}


@keyframes spinOnes {
	0% {margin-top: 1800px;}
	100% {margin-top: 0px;transform: rotate(1080deg);}
}
@keyframes spinTwos {
	0% {margin-left: -1800px;}
	100% {margin-left: 0px;transform: rotate(-720deg);}
}
@keyframes spinThrees {
	0% {margin-left: 1800px;}
	100% {margin-left: 0px;transform: rotate(2160deg);}
}
@keyframes spinFours {
	0% {margin-top: -1800px;}
	100% {margin-top: 0px;transform: rotate(-1080deg);}
}
