@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	padding: 10px;
	margin: 50px;
	font-family: 'Montserrat';
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
h3 {
    margin-top: -20px;
    font-style: italic;
    color: #fff;
}
#headContainer {
    display: flex;
}
#container {
	display: flex;
	flex-basis: 100%;
	flex: 1;
	flex-wrap: wrap;
}
span {
    line-height: -50px;
    color: #fff;
}
footer {
    display: flex;
    flex-wrap: wrap;
}
footer > ul, li, a {
	list-style-type: none;
	text-decoration: none;
	color: #fff;
	font-style: italic;
}
ul {
    justify-content: space-between;
}
li > a:hover {
    color: red;
}
#span2 {
    font-size: 3em;
    color: darkblue;
    
}
.imgs {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.imgs2 {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.sp {
	display: flex;
	align-items: center;
	justify-content: center;
	color: blue;
}
.sp1 {
	display: flex;
	align-self: flex-end;
	color: blue;
}
.d {
    display: flex;
    flex-direction: column;
	border: 1px solid grey;
	box-shadow: .25px .25px 2px grey;
	width: 200px;
	margin-left: 5px;
	margin-top: 10px;
	transition: all .5s ease-in-out;
	background-color: #fff;
	text-align: center;
}
.dt {
	background-color: #a11000;
	text-align: center;
	padding: 10px;
}
.da {
	text-align: center;
	width: 200px;
	padding: 10px;
	align-items: flex-end;
	align-self: flex-end;
}
hr {
    margin-top: 50px;
}
@media screen and (max-width: 760px) {
    #headContainer {flex-direction: column;}
    #container {width: 750;}    
}
@media screen and (min-width: 760px) {
    #container, #headerContainer {width: 1200px;}
    .d:hover {
	    transform: scale(1.2);	
    }
    
}
