@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
    font-family: "Comfortaa";
    color: grey;
}
#cir {
    position: absolute;
    animation: spin .5s infinite;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 6px dashed indigo;
    background-color: lightgrey;
}
#numb {
    position: absolute;
    margin-top: 80px;
    margin-left: 60px;
    color: white;
    font-size: 10em;
}
@keyframes spin {
   from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@media screen and (max-width: 600px) {

}

@media screen and (min-width: 600px) and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) {

}