@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
    margin: 0;
    padding: 10px;
}

#weather1,
#weather2,
#weather3 {
    font-family: 'Comfortaa';
    text-align: center;
    padding: 10px;
    border-top: 1px solid darkblue;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-left: 1px solid darkblue;
    border-right: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
}

#weatherHeader,
#timeHeader {
    font-family: 'Roboto';
    font-size: 2em;
    border-bottom: 5px solid darkblue;
    background-color: lightblue;
    color: darkblue;
    width: 50.1%;
    animation: slide 2s ease-in-out;
}
#weatherDiv {
    display: flex;
    width: 48%;
    justify-content: space-between;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}
#timeDiv {
    display:flex;
    align-content: stretch;
    justify-content: center;
    font-family: 'Orbitron';
    text-shadow: 5px 2px lightgrey;
    font-size: 4em;
    color: darkblue;
    padding: 10px;
    width: 50%;
}
#timeDivM {
    display:none;
}
#secs {
    margin-left: 410px;
    margin-top: -50px;
    font-family: 'Orbitron';
    text-shadow: 5px 2px lightgrey;
    font-size: 1em;
    color: darkblue;
    padding: 10px;
    animation: shrink 1.8s infinite;
}
#btnTimes {
    position: absolute;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    width:10%;
}
img {
    display: flex;
}
@keyframes shrink {
    50% {transform: -10px}
    100% {transform: 10px}
}
@keyframes slide {
    0% {margin-left: 1000px;}
    0% {font-style: italic;}
    33% {width: 225%;}
    66% {width: 150%;}
    80% {width: 90%;}
    100% {margin-left: 5px;}
}
/*--------------------------------------------------*/
/*--------------------------------------------------*/
@media screen and (max-width: 600px) {
#weatherDiv {
    flex-direction: column;
    width: 90%;
}
#weatherHeader {
    font-size: 2em;
    width: 90%;
}
#weather2 {
    text-align: left;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 2px;
    margin-bottom: 2px;
}
#weather3 {
    text-align: left;
}



}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
#header {
    width: 25%;
    font-size: 2em;
}
#weather2 {
    text-align: left;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 2px;
    margin-bottom: 2px;
}
#weather3 {
    text-align: left;
}

}


/*--------------------------------------------------*/
/*--------------------------------------------------*/
@media screen and (min-width: 1024px) {
#header {
    width: 25%;
    font-size: 2em;
}


}